.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.navLink {
    color: #d49726;
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: .15rem;
    line-height: 5rem;

    text-decoration: none;
    text-align: center;
}

.paragraph {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}