.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.container{
    display: flex;
    flex-direction: column;
}