.header {


    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3rem 0;
    background-color: #d49726;
}

.link{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 2.8rem;
    color: #ffffff;
}