.content{
    align-self: center;
    text-align: center;
    max-width: 70rem;
    width: 50rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input .ant-input{
    padding: 0.5rem;
    background-color: #dedede;
    border-radius: 0;
}

.button{
    background-color: #d49726;
    border-color: #d49726;
    border-radius: 0;
    color: black;
}